{% extends "base.html" %}

{% block title %}
    Справочник
{% endblock %}

{% block content %}
    <div class="card">
        <table id="phonebookTable" class="table">
            <thead>
                <tr>
                    <th>Должность</th>
                    <th>фамилия</th>
                    <th>имя</th>
                    <th>отчество</th>
                    <th>номер</th>
                    <th>мобильный</th>
                    <th>почта</th>
                </tr>
            </thead>
            <tbody>
            {% for subdivision in subdivisions %}
                <tr>
                   <th align colspan="8">
                       <h2 class="subdivision">{{ subdivision }}</h2>
                   </th>
                </tr>
            {% for department in departments %}
            {% for kontakt in kontakts %}
            <!--{% if kontakt.subdivision == subdivision %}-->
            {% if kontakt.department == department %}
                <tr>
                    <th align colspan="8">
                        <h3 class="department">{{ department }}</h3>
                    </th>
                </tr>
            {% endif %}
                <tr>
                    <td>{{ kontakt.job_title }}</td>
                    <td>{{ kontakt.last_name }}</td>
                    <td>{{ kontakt.name }}</td>
                    <td>{{ kontakt.s_name }}</td>
                    <td>{{ kontakt.ip_number }}</td>
                    <td>{{ kontakt.phone_number }}</td>
                    <td>{{ kontakt.e_mail }}</td>
                </tr>
            <!--{% endif %}-->
            {% endfor %}
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}