* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: orange;
    align-items: center;
    justify-content: center;
    color: white;
    height: 10rem;
    text-transform: uppercase;
}

.card {
    margin: 1rem 20%;
    border: 1px solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.content {
    flex: 1;
    background-color: rgb(255 251 219 / .5);
}

.kontakt {
    display: flex;
    margin: 1rem 0;
    align-item: center;
    justify-content: center;
}

.table {
    width: 100%;
    margin: 2rem 2rem;
    text-align: center;
    border-spacing: 0;
}

.table thead {
    font-size: 18px;
    text-transform: uppercase;
    background-color: orange;
    color: white;
}

.container_search {
    display: flex;
    justify-content: center;
    margin: 3rem 0 0;
}

input.text {
    width: 35em;
    font-size: 20px;
}

button.search {
    width: 9rem;
    font-size: 20px;

}

.subdivision, .department {
    text-transform: capitalize;
}

.department {
    font-weight: 600;

}

.footer {
    background-color: orange;
    text-transform: capitalize;
}

.table th, .table td {
    padding: 6px; /* отступы для читаемости */
    white-space: normal; /* разрешить перенос строк */
    word-break: break-word; /* переносить длинные слова */
}

.capitalize {
    color: rgb(60 60 60);
    text-transform: capitalize;
}

.e_mail {
    color: blue;
    text-transform: normal;
}

tr.subdivision-row th {
  border-bottom: 3px solid #f90;
  padding-bottom: 8px;
}

tr.department-row th {
  border-bottom: 2px solid #ffa500;
  padding-bottom: 4px;
}

