{% extends "base.html" %}

{% load static %}

{% block title %}
    Справочник
{% endblock %}

{% block content %}
    <div class="container_search">
        {% include "includes/search.html" %}
    </div>
    <div class="card">
        <table id="phonebookTable" class="table">
            <thead>
                <tr>
                    <th>Должность</th>
                    <th>ФИО</th>
                    <th>номер</th>
                    <th>мобильный</th>
                    <th>почта</th>
                    {% if user.is_authenticated %}
                        <th>Компютер</th>
                    {% endif %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
              {% for subdivision, departments in grouped_kontakts.items %}
                <tr class="subdivision-row">
                   <th colspan="8">
                       <h2 class="subdivision">{{ subdivision }}</h2>
                   </th>
                </tr>
                {% for department, kontakts in departments.items %}
                  <tr class="department-row">
                    <th colspan="8"><h3 class="department">{{ department }}</h3></th>
                  </tr>
                  {% for kontakt in kontakts %}
                    <tr>
                      <td class="capitalize">{{ kontakt.job_title|default_if_none:"&mdash;" }}</td>
                      {% if kontakt.s_name == None %}
                        <td class="capitalize">{{ kontakt.last_name }} {{ kontakt.name }}</td>
                      {% else %}
                        <td class="capitalize">{{ kontakt|default_if_none:"&mdash;" }}</td>
                      {% endif %}
                      <td class="capitalize">{{ kontakt.ip_number|default_if_none:"&mdash;" }}</td>
                      <td class="capitalize">{{ kontakt.phone_number|default_if_none:"&mdash;" }}</td>
                      <td class="e_mail">{{ kontakt.e_mail|default_if_none:"&mdash;" }}</td>
                      {% if user.is_authenticated %}
                        {% if kontakt.pc_number != None %}
                        <td class="pc_number">
                            <a href="myapp://{{ kontakt.pc_number }}:5900">{{ kontakt.pc_number }}</a>
                        </td>
                        {% else %}
                            <td>{{ "&mdash;" }}</td>
                        {% endif %}
                      {% endif %}
                      <td>
                      <a class="edit" href="{% url 'contest:edit' kontakt.id %}"
                         style="border: 2px solid orange;
                         border-radius: 20%;">
                         {{ "&#128396;" }}
                      </a>
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
