{% extends "base.html" %}

{% load static %}

{% block title %}
    Справочник
{% endblock %}

{% block content %}
<div class="container_search">
              {% include "includes/search.html" %}
            </div>
    <div class="card">
        <table id="phonebookTable" class="table">
            <thead>
                <tr>
                    <th>Должность</th>
                    <th>фамилия</th>
                    <th>имя</th>
                    <th>отчество</th>
                    <th>номер</th>
                    <th>мобильный</th>
                    <th>почта</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              {% for subdivision, departments in grouped_kontakts.items %}
                <tr class="subdivision-row">
                   <th colspan="8">
                       <h2 class="subdivision">{{ subdivision }}</h2>
                   </th>
                </tr>
                {% for department, kontakts in departments.items %}
                  <tr class="department-row">
                    <th colspan="8"><h3 class="department">{{ department }}</h3></th>
                  </tr>
                  {% for kontakt in kontakts %}
                    <tr>

                      <td class="capitalize">{{ kontakt.job_title|default_if_none:"&mdash;" }}</td>
                      <td class="capitalize">{{ kontakt.last_name|default_if_none:"&mdash;" }}</td>
                      <td class="capitalize">{{ kontakt.name|default_if_none:"&mdash;" }}</td>
                      <td class="capitalize">{{ kontakt.s_name|default_if_none:"&mdash;" }}</td>
                      <td class="capitalize">{{ kontakt.ip_number|default_if_none:"&mdash;" }}</td>
                      <td class="capitalize">{{ kontakt.phone_number|default_if_none:"&mdash;" }}</td>
                      <td class="e_mail">{{ kontakt.e_mail|default_if_none:"&mdash;" }}</td>
                      <td>
                      <a class="edit" href="{% url 'contest:edit' kontakt.id %}"
                         style="border: 2px solid orange;
                         border-radius: 20%;">
                         {{ "&#128396;" }}
                        <!--<img src="{% static 'media/f.png' %}"
                             width="30"
                             height="30">-->
                      </a>
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
