{% load static %}
<header class="header">
  <nav class="nav-links">
    {% with request.resolver_math.view_name as view_name %}
    <div class="lef-nav">
      <ul>
      <li class="{% if request.path == '/' %}active{% endif %}">
        <a href="{% url 'phonebook:index' %}">Домашняя страница</a>
      </li>
      <li class="{% if request.path == '/contest/' %}active{% endif %}">
        <a href="{% url 'contest:create' %}">Новый контакт</a>
      </li>
      <li class="{% if request.path == '/sources/' %}active{% endif %}">
        <a href="{% url 'sources:index' %}">Информационные активы</a>
      </li>
    </ul>
    </div>

    <div class="right-nav">
      <ul>
      {% if user.is_authenticated %}

        <li>
          <a href="{% url 'userProfile:index' %}">{{ user.username }}</a>
        </li>
      <li class="{% if request.path == '/logout/' %}active{% endif %}">
        <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display:none;">
          {% csrf_token %}
        </form>
        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Выйти</a>
      </li>

      {% else %}

      <li>
        <a href="{% url 'login' %}">Войти</a>
      </li>
      {% endif %}
    </ul>
    </div>

    {% endwith %}
  </nav>
  <div>
    <div class="header-info">{{ "&#9742;" }}
      Номер технической поддержки: 1777
    </div>
    <div class="header-info">{{ "&#9993;" }}
      Почта: help@komos.ru
    </div>
  </div>
  <h1 class="header-title">справочник</h1>
  <div class="header-right"></div>
</header>