{% load static %}
<header class="header">
  <nav class="nav-links">
    <ul>
      <li class="{% if request.path == '/' %}active{% endif %}">
        <a href="{% url 'phonebook:index' %}">Домашняя страница</a>
      </li>
      <li class="{% if request.path == '/contest/' %}active{% endif %}">
        <a href="{% url 'contest:create' %}">Новый контакт</a>
      </li>
    </ul>
  </nav>
  <div>
    <div class="header-info">{{ "&#9742;" }}
      Номер технической поддержки: 1777
    </div>
    <div class="header-info">{{ "&#9993;" }}
      Почта: help@komos.ru
    </div>
  </div>
  <h1 class="header-title">справочник</h1>
  <div class="header-right"></div>
</header>